<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Package Name="DefenderGuard" Manufacturer="DefenderGuard" Version="$(var.MsiVersion)" UpgradeCode="{2de65226-e2b5-4ed5-9548-e15ba1d46cd6}" Scope="perMachine" Codepage="65001">
    <SummaryInformation Description="DefenderGuard" Manufacturer="DefenderGuard" />
    <MajorUpgrade DowngradeErrorMessage="Установлена более новая версия DefenderGuard." />
    <MediaTemplate EmbedCab="yes" />
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="DefenderGuard" />
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="DefenderGuardStartMenuFolder" Name="DefenderGuard" />
    </StandardDirectory>
    <StandardDirectory Id="DesktopFolder" />
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="MainComponent" Guid="{B08BEF16-AB51-4F7D-9B28-2F8E3B2F3D11}">
        <File Id="DefenderGuardExe" Source="$(var.PublishDir)\DefenderGuard.exe" KeyPath="yes" Checksum="yes">
          <Shortcut Id="StartMenuShortcut" Advertise="yes" Directory="DefenderGuardStartMenuFolder" Name="DefenderGuard" Description="Панель Microsoft Defender" WorkingDirectory="INSTALLFOLDER" />
          <Shortcut Id="DesktopShortcut" Advertise="yes" Directory="DesktopFolder" Name="DefenderGuard" Description="Панель Microsoft Defender" WorkingDirectory="INSTALLFOLDER" />
        </File>
        <RemoveFolder Id="RemoveStartMenuFolder" Directory="DefenderGuardStartMenuFolder" On="uninstall" />
        <util:RemoveFolderEx Id="RemoveSelfProtectionData" On="uninstall" Property="DEFENDERGUARDSELFDATA" />
      </Component>
    </DirectoryRef>
    <Feature Id="MainFeature" Title="DefenderGuard" Level="1">
      <ComponentRef Id="MainComponent" />
    </Feature>
    <ui:WixUI Id="WixUI_Minimal" />
    <Icon Id="DefenderGuardIcon" SourceFile="$(var.PublishDir)\DefenderGuard.exe" />
    <Property Id="ARPPRODUCTICON" Value="DefenderGuardIcon" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Запустить DefenderGuard" />
    <Property Id="DEFENDERGUARDSELFDATA" Value="%ProgramData%\\DefenderGuardSelfProtection" />
    <CustomAction Id="DisableSelfProtection" FileRef="DefenderGuardExe" ExeCommand="--self-protection-diagnostic disable" Execute="deferred" Impersonate="no" Return="ignore" />
    <InstallExecuteSequence>
      <Custom Action="DisableSelfProtection" Before="RemoveFiles" Condition="REMOVE~=&quot;ALL&quot;" />
    </InstallExecuteSequence>
  </Package>
</Wix>